@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);
/* Starter CSS for Menu */

#navigationHeader {
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
}
#navigationHeader ul,
#navigationHeader li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#navigationHeader ul {
  position: relative;
  z-index: 597;
}
#navigationHeader ul li {
  float: left;
  min-height: 1px;
  vertical-align: middle;
}
#navigationHeader ul li.hover,
#navigationHeader ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#navigationHeader ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
}
#navigationHeader ul ul li {
  float: none;
}
#navigationHeader ul ul ul {
  top: 0;
  left: 190px;
  width: 190px;
}
#navigationHeader ul li:hover > ul {
  visibility: visible;
}
#navigationHeader ul ul {
  bottom: 0;
  left: 0;
}
#navigationHeader ul ul {
  margin-top: 0;
}
#navigationHeader ul ul li {
  font-weight: normal;
}
#navigationHeader a {
  display: block;
  line-height: 1em;
  text-decoration: none;
}
/* Custom CSS Styles */
#navigationHeader {
  background: #333333;
  border-bottom: 4px solid #1b9bff;
  font-size: 12px;
}
#navigationHeader > ul {
  *display: inline-block;
}
#navigationHeader ul {
  text-transform: uppercase;
}
#navigationHeader:after,
#navigationHeader ul:after {
  content: '';
  display: block;
  clear: both;
}
#navigationHeader ul li {
  float: right;
}
#navigationHeader ul ul {
  border-top: 4px solid #1b9bff;
  text-transform: none;
  min-width: 190px;
}
#navigationHeader ul ul a {
  background: #1b9bff;
  color: #ffffff;
  border: 1px solid #0082e7;
  border-top: 0 none;
  line-height: 150%;
  padding: 16px 20px;
  font-size: 12px;
}
#navigationHeader ul ul ul {
  border-top: 0 none;
}
#navigationHeader ul ul li {
  position: relative;
}
#navigationHeader ul ul li:first-child > a {
  border-top: 1px solid #0082e7;
}
#navigationHeader ul ul li:hover > a {
  background: #4eb1ff;
  color: #ffffff;
}
#navigationHeader ul ul li:last-child > a {
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-box-shadow: 0 1px 0 #1b9bff;
  -webkit-box-shadow: 0 1px 0 #1b9bff;
  box-shadow: 0 1px 0 #1b9bff;
}
#navigationHeader ul ul li:last-child:hover > a {
  -moz-border-radius: 0 0 0 3px;
  -webkit-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#navigationHeader ul ul li.has-sub > a:after {
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -8px;
}
#navigationHeader ul li:hover > a,
#navigationHeader ul li.active > a {
  background: #1b9bff;
  color: #ffffff;
}
#navigationHeader ul li.has-sub > a:after {
  margin-left: 5px;
}
#navigationHeader ul li.has-sub {
  width: 19.5%;
  float: left;
}
#navigationHeader ul li.has-sub a {
    font-size: 16px;
    font-weight: bold;
}
#navigationHeader ul li.last ul {
  left: auto;
  right: 0;
}
#navigationHeader ul li.last ul ul {
  left: auto;
  right: 99.5%;
}
#navigationHeader a {
  background: #333333;
  color: #CBCBCB;
  padding: 0 20px;
}
#navigationHeader > ul > li > a {
  line-height: 48px;
  font-size: 12px;
}

#navigationHeader > ul > li > a {
  line-height: 48px;
  font-size: 12px;
}

/* Log and Header */
.header {
    width: 100%;
    position: relative;
    margin-bottom: 0;
    background-image: url('../stylesheet/images/background-header.png');
    z-index: 21;
}

.header img {
    padding-top: 10px;
    padding-bottom: 3px;
}