#contactModule {
	position: relative;
	display: block;
	line-height: 200%;
	width: 90%;
	border: solid #e6e3dd;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 5%;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
}

#contactModule p, #quoteModule p{
	padding-left: 10%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

#quoteModule {
	position: relative;
	display: block;
	line-height: 200%;
	width: 90%;
	border: solid #e6e3dd;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 5%;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
}

.moduleHeading {
	font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif !important;
	font-size: medium;
    font-weight: bold;
    color: #154995;
    padding-left: 6%;
}